.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: white;
}

.App-header {
  font-size: calc(2vmin);
}

.title-text {
  font-size: calc(6vmin);
}

.header-text {
  font-size: calc(4vmin);
}

.divider {
  margin:20px;
}

.align-left {
  text-align: left;
}

.App-body {
  font-size: calc(5vmin);
}

.App-section {
  font-size: calc(4vmin);
  width: 50%;
  margin:auto;
}

.App-link {
  color: #61dafb;
  padding-left:10px;
}

@media only screen and (max-width: 768px) {
  .header-text {
    font-size: calc(3vmin);
  }
}