.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 7s ease;
  height: 10vmin;
}

.App-header {
  font-size: calc(2vmin);
}

.title-text {
  font-size: calc(6vmin);
}

.header-text {
  font-size: calc(4vmin);
}

.divider {
  margin:20px;
}


.App-body {
  font-size: calc(5vmin);
}

.App-link {
  color: #61dafb;
  padding-left:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
